/*CSS Style file created for CSU's SIAM Student Chapter Webpage, Aug 2014 by Rachel Neville*/

/*RESEST*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/

body {
 font-family: Arial, Helvetica, Verdana, sans-serif;
 font-size: 14px;

background-image: url('BubblesMaster.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:   cover;  
width: 100%; height: 100%;
}

h2{
 font-size: 20px
 color:#008080
}

#wrapper { 
 margin: 0 auto;
 width: 960px;
 background-color: #ffffff; 
}


#header, #leftcolumn, #rightcolumn #footer{
 color: #333;
/* border: 1px solid #ccc;*/
/* padding: 10px; */
}

#header {
 width: 960px;
 float: left;
 height: 200px;
 margin: 10px 0px 0px 0px;
 background: #999999;
}



#leftcolumn { 
 float: left;
 background: #ffffff;
 margin: 0px 0px 0px 0px;
 height: 800px;
 width: 680px;
vertical-align:top
 }

#rightcolumn { 
 float: right;
 margin: 0px 0px 0px 0px;
 height: 800px;
 width: 246px;
padding: 0 15px 15px;
 border-left-style: dotted; 
 border-width: 2px;
 background: #efefef;

/* display: inline; */
/* position: relative; */
}

#content {
 padding: 0 50px 50px; 
 line-height: 1.5}

#footer { 
 width: 960px;
 clear: both;
 background:  #dedede;
 margin: 0px 0px 10px 0px;
}


/* ----------------NAVIGATION BAR------------------ */

#nav {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none; 
	background-color: #444444;
	border-bottom: 2px solid #ccc; 
	border-top: 2px solid #ccc; }

#nav li {
	float: left; }

#nav li a {
	display: block;
	padding: 8px 25px;
	text-decoration: none;
	font-weight: bold;
	color: #f2f2f2;
	border-right: 1px solid #ccc; }

#nav li a:hover {
		color: #cccccc;
		background-color: #8e8e8e; }

#nav_active a { 
    text-decoration: underline;
}

/*---------------------------------------------------------*/

dd { 
    display: block;
    margin-left: 15px;
}
