/* You can set properties like color, font, background for everything of a given type:*/
body {
    color: #000000;
    font: 16px/200%;
    font-family: arial, sans-serif;
    background-color: #C8C372;
    }
a {
    color: #1E4D2B;
    }
/* CSU's official color palette can be found at http://brand.colostate.edu/ */

/* You can also define tags to apply to parts of your webpage with special formatting:*/
.footer { width: 900px;
   text-align: center;
   font-family: monospace;
   font-size: 12px;
   margin: 0px;
   margin-top: 80px;
   }
