/* CSS Style file with CSU Colors
 * Graham Harper, October 2018
 *
 * CSU COLORS (source: https://tilt.colostate.edu/Z-Toolbox/colorPaletteCSU.cfm)
 * CSU Green:    #1E4D2B
 * CSU Gold:     #C8C372
 * Aggie Orange: #D9782D
 * Grey:         #59595B
 * Alfalfa:      #C9D845
 * Canyon:       #CC5430
 * Slate:        #105456
 * Reservoir:    #12A4B6
 * Sunshine:     #ECC530
 */


/*---------------- HTML5 for older browsers ------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
  display: block;
}
body
{
  line-height: 1;
}
ol, ul
{
  list-style: none;
}

blockquote, q
{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
  content: '';
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}


/*---------------- NAVIGATION ------------------*/
#nav
{
  width: 100%;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; 
  background-color: #1E4D2B;
  border-bottom: 2px solid #ccc; 
  border-top: 2px solid #ccc;
}

/*#nav ul
{
    list-style-type: none;
    padding: 0;
}*/

#nav li
{
  float: left;
}

#nav li a
{
  display: block;
  padding: 8px 25px;
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#nav li a:hover
{
  color: #cccccc;
  background-color: #105456;
}


/*---------------- MAIN ------------------*/
body
{
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  background-image: url('BubblesMaster_Green.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:   cover;  
  width: 100%;
  height: 100%;
}

h1
{
  color: #105456;
}

img
{
  max-width: 100%;
  max-height: 100%;
}

a:link
{
  color: #12A4B6;
}

a:visited
{
	color:#34B234;
}

#main
{ 
  margin: 0 auto;
  width: 80%;
  background-color: #ffffff; 
}


#header, #leftcolumn, #rightcolumn #footer
{
  color: #333;
/* border: 1px solid #ccc;*/
/* padding: 10px; */
}


#news
{
  background: #C8C372;
  padding: 10px;
  margin: 0px 0px 30px 0px;
  border-bottom: 2px solid #59595B; 
  border-top: 2px solid #59595B;
}

#leftcolumn
{ 
  float: left;
  background: #ffffff;
  margin: 0px 0px 0px 0px;
  width: 90;
  vertical-align:top;
  padding: 0 50px 50px; 
  line-height: 1.5;
}

#rightcolumn
{ 
  float: right;
  margin: 0px 0px 0px 0px;
  width: 246px;
  padding: 0 15px 15px;
  border-left-style: dotted; 
  border-width: 2px;
  background: #efefef;

/* display: inline; */
/* position: relative; */
}

#footer
{ 
  width: 100%;
  clear: both;
  background:  #1E4D2B;
  margin: 0px 0px 10px 0px;
}



