

</div>
<!-- end of #content --> 
</div>
<!--end left column-->

<div id="rightcolumn">
  <h2 align="center"> <a href=#a_news>Latest News!</a> </h2>
  <dl style="list-style-type:disc; padding:0 15px 15px; line-height: 1.5">
    <dd style="font-weight: bold; color:#357385;"> Year-end meeting and officers election! </dd>
    <dd> </dd>
    <dd> 5/3/2018 </dd>
    <dd> 12pm, Weber 201  </dd>
  </dl> 
</div>
<!--end right column-->

<div id="footer"><br>
  <script language="Javascript">
  document.write("Last modified by Graham on: " + document.lastModified +"");
  </SCRIPT><br><br>
</div>
<!--end of footer-->

</div><!-- end of #wrapper -->
</body>
</html>